html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
}

body {
  font-family: sans-serif;
  padding: 20px 50px;
  background-color: rgb(246, 246, 255);
}

nav {
  background-color: rgb(50, 50, 255);
  padding: 0 10px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

ul li {
  padding: 10px 10px;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 9px 10px;
  transition: background-color 0.1s linear;
  background-color: rgb(50, 50, 255);
}

ul li a:hover {
  background-color: rgb(253, 64, 64);
}

/* home */
.home-headline {
  background-color: rgb(39, 39, 39);
  color: rgb(236, 235, 235);
  padding: 20px 10px;
}

.home-headline h1 {
  margin-bottom: 10px;
}

/* about */
#about {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  padding: 20px 10px;
}

.about-img-container img {
  width: 200px;
}

.about-img-container-1 {
  display: none;
}

.about-img-container-1 img {
  width: 200px;
}

.about-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-article p {
  line-height: 1.2;
}

.about-article a {
  text-decoration: none;
  color: rgb(50, 50, 255);
  transition: color 0.1s linear;
}

.about-article a:hover {
  color: red;
}

/* skills & studies */
.skills-and-studies {
  padding: 20px 10px;
  display: flex;
  gap: 50px;
}

/* skills */

#skills h2 {
  margin-bottom: 10px;
}

#skills table {
  border-collapse: collapse;
}

#skills table th {
  background-color: rgb(50, 50, 255);
  color: white;
}

#skills table th,
td {
  border: 1px solid black;
  padding: 10px 5px;
}

#skills table tbody tr:nth-child(odd) {
  background-color: rgb(227, 227, 252);
}

#skills table tbody tr:hover {
  background-color: rgb(247, 247, 163);
}

/* studies */
#studies h2 {
  margin-bottom: 10px;
}

#studies h3 {
  margin-bottom: 7px;
}

#studies ul {
  display: flex;
  gap: 20px;
  align-items: start;
  margin-bottom: 20px;
}

#studies ul li {
  width: 500px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  border: 2px solid transparent;
}

#studies ul li:hover {
  background-color: rgb(247, 247, 163);
  border: 2px solid black;
}

.studies-card-text h4 {
  margin-bottom: 10px;
}

.studies-card-text p {
  margin-bottom: 5px;
}

#studies ol li {
  margin-bottom: 10px;
  line-height: 1.2;
  margin-left: 20px;
}

#studies ol li h4 {
  margin-bottom: 3px;
}

#studies ol li p {
  margin-bottom: 5px;
}

#studies ol li a {
  text-decoration: none;
  color: blue;
}

#studies ol li a:hover {
  color: red;
}

/* experiences */
#experiences {
  padding: 20px 10px;
}

#experiences h2 {
  margin-bottom: 20px;
}

#experiences ul {
  display: grid;
  grid-template-columns: repeat(3, minmax(225px, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  align-items: flex-start;
}

#experiences ul li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: justify;
}

#experiences p {
  line-height: 1.2;
}

/* contacts */
#contacts {
  padding: 50px 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

#contacts form {
  width: 50%;
}

#contacts h2 {
  margin-bottom: 10px;
  width: 50%;
}

#contacts input,
textarea {
  margin-top: 7px;
  padding: 2px 5px;
  width: 100%;
  font-family: sans-serif;
}

#contacts button {
  background-color: rgb(227, 227, 252);
  padding: 10px 20px;
  transition: background-color 0.1s linear;
  cursor: pointer;
  border-radius: 20px;
}

#contacts button:hover {
  background-color: rgb(199, 199, 254);
  padding: 10px 20px;
}

/* footer */
footer {
  padding: 20px 10px;
}

footer a {
  color: blue;
  text-decoration: none;
}

footer a:hover {
  color: red;
}

footer p {
  margin-top: 10px;
}

@media (max-width: 1080px) {
  /* headline */
  .home-headline h2 {
    font-size: 1.2rem;
  }

  /* about */
  .about-img-container {
    display: none;
  }

  .about-img-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-article p {
    text-align: justify;
  }

  /* skills and studies */
  .skills-and-studies {
    flex-direction: column;
  }

  /* studies and certs */
  #studies ul {
    flex-direction: column;
  }

  #studies ul li {
    flex-direction: column;
    width: 100%;
  }

  /* experiences */
  #experiences ul {
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  }

  /* contacts */
  #contacts h2 {
    width: 100%;
  }
  #contacts form {
    width: 100%;
  }
}
